@import './tokens.css';
@import './reset.css';

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-main);
  line-height: 1.5;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
